body {
    font-family: "Roboto", sans-serif;
    color: white;
}

img.media-object.img-circle {
    width: 64px;
    border: 2px solid white;
}

a, a:link, a:active, a:visited {
    color: #ff5252;
}

a:hover {
    color: #d50000;
}

li.media {
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 10px;
}

.media-items-header {
    margin-top: 10px !important;
    padding: 15px !important;
    padding-left: 30px !important;
    background-color: #43A047;
}

.media-items-header h1 {
    text-transform: uppercase;
    font-size: 48px;
}

#media-items li.media.user-online {
    background-color: #1B5E20;
}

#media-items li.media.user-offline {
    background-color: #A5D6A7;
}

#media-items li.media.user-dne {
    background-color: #B0BEC5;
}